


<div class="container">

  <h2 class="primary-text gap-4 text-5xl my-5 "> Nuestra Galeria</h2>

  <div class="grid grid-cols-4 gap-4 p-5 ">

    <img src="/assets/gal_1.jpg" alt="" class="" loading="lazy">
    <img src="/assets/gal_2.jpg" alt="" loading="lazy">
    <img src="/assets/gal_4.jpg" alt="" loading="lazy">

    <img src="https://tailwindcss.com/_next/static/media/3.19759950.jpg" alt="" loading="lazy">
    <img src="/assets/gal_3.webp" alt="" class="w-full h-full row-span-2 col-span-3 " loading="lazy">


      <img src="https://tailwindcss.com/_next/static/media/4.a2ed7a78.jpg" alt="" loading="lazy">


      <img src="https://tailwindcss.com/_next/static/media/2.86c4c41e.jpg" alt="" loading="lazy">
      <img src="https://tailwindcss.com/_next/static/media/4.a2ed7a78.jpg" alt="" loading="lazy">
      <img src="https://tailwindcss.com/_next/static/media/4.a2ed7a78.jpg" alt="" loading="lazy">
      <img src="https://tailwindcss.com/_next/static/media/4.a2ed7a78.jpg" alt="" loading="lazy">

  </div>


</div>

