


<div class="container">

  <h2 class="primary-text gap-4 text-5xl my-5 "> Nuestra Galeria</h2>

  <div class="grid grid-cols-4 gap-4 p-5 ">

    <img src="/assets/gal_1.jpg" alt="" class="" loading="lazy">
    <img src="/assets/gal_2.jpg" alt="" loading="lazy">
    <img src="/assets/gal_4.jpg" alt="" loading="lazy">

    <img src="https://media.istockphoto.com/id/649448724/es/foto/pareja-en-el-parque.webp?s=2048x2048&w=is&k=20&c=K8UHxY_QcjZ62EKgLEondxe7b2XEYV1aN3g0D4-HcyU=" alt="" loading="lazy">
    <img src="/assets/gal_3.webp" alt="" class="w-full h-full row-span-2 col-span-3 " loading="lazy">


      <img src="https://media.istockphoto.com/id/1479709052/es/foto/perro-y-gato-juntos-bajo-una-manta.jpg?s=2048x2048&w=is&k=20&c=wsOK4Q5EVc8vIODKP1i3qor0nrGu45O-nvFGJ3TTpQU=" alt="" loading="lazy">


      <img src="https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_1280.jpg" alt="" loading="lazy">
      <img src="https://cdn.pixabay.com/photo/2019/09/14/23/14/dogs-4477058_1280.jpg" alt="" loading="lazy">
      <img src="https://media.istockphoto.com/id/636316192/es/foto/pareja-feliz-con-un-perro.jpg?s=2048x2048&w=is&k=20&c=YwKHYU74aRIDutzmIsi1-VRKroY2HYLxhwN3e4fWJeA=" alt="" loading="lazy">
      <img src="https://media.istockphoto.com/id/1598514657/es/foto/perro-y-gato-juntos-bajo-broun-manta-acogedora.jpg?s=1024x1024&w=is&k=20&c=vWFTxykDarTQJALgTAN20F5Q-1tN-FxLDrswv3bDRS8=" alt="" loading="lazy">

  </div>


</div>

