<section class="">
  <div class="container-lg py-5 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="my-4">

          <div class="row g-0 bg-slate-50 shadow-lg">


            <div class="col-xl-6 d-none d-xl-block">
              <img src=" https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_1280.jpg"
                alt="Sample photo" class="img-fluid h-100"/>
            </div>


            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5  text-lime-800 text-uppercase">Agregar Cita</h3>

                <!-- (ngSubmit)="addPet()" -->
                <form   (ngSubmit)="addCite()"   >

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1m">Fecha</label>

                        <input type="datetime-local"  [(ngModel)]="cite.fecha"  name="fecha" class=" form-control form-control-lg" />

                      </div>
                    </div>


                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1n">Servicio</label>



                        <select [(ngModel)]="cite.servicio" class="form-control form-control-lg" name="servicio" >
                          <option *ngFor="let especie of services" >{{especie.nombre_servicio}}</option>
                        </select>



                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1m">Mascota</label>


                        <select [(ngModel)]="mascotaId" class="form-control form-control-lg" name="servicio" >
                          <option *ngFor="let pet of pets" [ngValue]="pet.id" >{{pet.nombre_mascota}}</option>
                        </select>

                        <!-- <select [(ngModel)]="pet.especie" class="form-control form-control-lg" name="especie" >
                          <option *ngFor="let especie of especiesInfo" >{{especie.especie}}</option>

                        </select> -->
                      </div>
                    </div>



                  </div>





                  <!-- <input  [(ngModel)]="fecha" type="datetime-local" name="fecha" class="form-control form-control-lg" > -->

                  <div class="d-flex justify-content-between pt-3">
                    <button type="button" routerLink="/user/dashboard" class="btn btn-light btn-lg">Volver</button>
                    <button type="submit" class="btn bg-lime-500 text-slate-50  btn-lg ms-2">Enviar</button>
                  </div>



                </form>

              </div>


            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</section>
