<hr>
<div class="container mt-5   ">
  <h2 class="primary-text text-5xl my-2"> Sobre Nosotros</h2>

  <div class="bg-slate-50 p-5 rounded-md  d-flex mt-5">
    <div class="d-flex justify-content-center align-items-center  ">
      <p class="primary-text w-6/12 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tempore sunt nostrum autem quis ab eos, aperiam vel ipsum aliquam corporis in laborum repudiandae cupiditate maxime optio quisquam delectus pariatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam facilis placeat cum, dignissimos sequi laudantium, fugiat ratione autem blanditiis ex dicta nam amet mollitia rem harum eligendi id nihil voluptates!Lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint numquam voluptates odit quisquam nam doloribus voluptate? Temporibus minima eos, maiores similique quo magni. Earum sequi molestiae dicta ipsam quaerat odit. lore</p>

    </div>

    <img src="/assets/about_1.jpg" class="w-6/12 ms-5" alt="">
  </div>

</div>

