<form (ngSubmit)="emitUser()" >

  <div class="row">
    <div class="col-md-6 mb-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="form3Example1m">Nombre</label>

        <input type="text"  [(ngModel)]="user.firstname"  name="fistname" class=" form-control form-control-lg" />

      </div>
    </div>


    <div class="col-md-6 mb-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="form3Example1n">Apellido</label>

        <input type="text" [(ngModel)]="user.lastname"  name="lastname" class="form-control form-control-lg" />

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="form3Example1m">Telefono</label>

        <input type="text"  [(ngModel)]="user.phone" maxlength="8" minlength="8"  name="phone" class="form-control form-control-lg" />

      </div>
    </div>


    <div class="col-md-6 mb-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="form3Example1n">Edad</label>

        <input type="number" [(ngModel)]="user.age" max="100" min="18"  name="age" class="form-control form-control-lg" />

      </div>
    </div>
  </div>


  <div data-mdb-input-init class="form-outline mb-4">
    <label class="form-label" for="form3Example8">Correo</label>

    <input type="text" [(ngModel)]="user.email"  name="email" class="form-control form-control-lg" />

  </div>


  <div data-mdb-input-init class="form-outline mb-4">
    <label class="form-label" for="form3Example9">Pais</label>

    <input type="text" [(ngModel)]="user.country"  name="country" class="form-control form-control-lg" />

  </div>

  <h3 class="my-5 text-uppercase text-lime-800  ">Registro de Login</h3>

  <div data-mdb-input-init class="form-outline mb-4">
    <label class="form-label"    >Usuario</label>

    <input type="text" id="form3Example90" name="username" class="form-control form-control-lg" [(ngModel)]="user.username" />

  </div>

  <div data-mdb-input-init class="form-outline mb-4">
    <label class="form-label"   >Contraseña</label>
    <input type="password"  name="password" id="form3Example99" class="form-control form-control-lg"  [(ngModel)]="user.password"/>
  </div>


  <div class="d-flex justify-content-between pt-3">
    <button type="button" routerLink="/user/login" class="btn btn-light btn-lg">Volver</button>
    <button type="submit" class="btn bg-lime-500 text-slate-50  btn-lg ms-2">Enviar</button>
  </div>

</form>
