<div class="banner-card">
  <div> </div>
  <img class="imagen-inicio" src="/assets/img.jpg" alt="" >
  <div class="banner-text">
    <h1 class="text-white text-uppercase primary-text">Veterina Patitas Hermosas</h1>
    <div class="second-text">
      <h3 class="text-white text-uppercase mt-3">Amamos y adoramos tus mascotas como si fueran nuestra familia </h3>
      <p class="text-white text-uppercase mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi minus praesentium est repudiandae assumenda voluptatum nihil nemo maxime aspernatur expedita saepe error officiis repellat delectus voluptatibus quisquam facere, iure fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit <span>Ver Mas</span> </p>
    </div>

  </div>
</div>

