<nav class=" navbar d-flex justify-content-evenly bg-black ">

  <div class="animate__animated animate__zoomInUp ">
    <a class="navbar-brand mt-5" href="#">
      <img src="/assets/dog-svgrepo-com.svg" alt="Bootstrap" width="50" height="50">
      <span class="text-white ps-4"> <span class="badge text-bg-light text-wrap">Veterinaria Patitas Hermosas</span></span>
    </a>
  </div>

  <div>
    <a class="mx-3 fw-lighter " href="">INICIO</a>
    <a class="mx-3 fw-lighter  " href="">SOBRE NOSOTROS</a>
    <a class="mx-3 fw-lighter " href="">SERVICIOS</a>
    <a class="mx-3 fw-lighter " href="">GALERIA</a>

  </div>

  <div>
    <button class="btn btn-light ">Login</button>
  </div>

</nav>
