<nav class=" navbar d-flex justify-content-evenly  bg-black ">

  <div class="animate__animated animate__zoomInUp  navbar-link   ">

    <a class="  d-flex d-flex align-items-center " routerLink="veterinaria/inicio" >
      <img src="/assets/dog-svgrepo-com.svg"   width="40" height="40">
    <span class="mx-2 principal-text">  V. Hermosas</span>
      <span class="principal-text  before:block before:absolute before:-inset-1  before:-skew-y-3 before:bg-amber-300   relative inline-block">
        <span class="relative text-white">Patitas </span>
      </span>
    </a>

  </div>

  <div>
    <a class="mx-3 fw-lighter ">INICIO</a>
    <a class="mx-3 fw-lighter  " href="">SOBRE NOSOTROS</a>
    <a class="mx-3 fw-lighter " href="">SERVICIOS</a>
    <a class="mx-3 fw-lighter " href="">GALERIA</a>

  </div>

  <div>
    <button class="btn btn-light" routerLink="/user/login"  >Login</button>
  </div>


</nav>
