<ng-template #alert>
  <div class="bg-warning p-3 text-center mt-5 text-white rounded shadow " >
  Espere Porfavor
  </div>

  </ng-template>




<div class="row ">

  <div class="col-2 h-lvh bg-gradient-to-r from-cyan-500 to-blue-500  shadow-lg p-5">

    <div  *ngIf="userInfo ; else alert ">
      <div class="mt-2 text-2xl text-center font-bold">
        <h1 class="  text-neutral-50 mb-2">
          ¡Bienvenid@!
        </h1>
        <span
        class="principal-text  before:block before:absolute before:-inset-1  before:-skew-y-3 before:bg-amber-300   relative inline-block">
        <span class="relative text-sky-600">{{userInfo.firstName}} </span>
      </span>
      </div>


      <hr class="my-4 ">
      <div  class="text-neutral-50 " >
        <h3 class="text-center font-bold text-2xl mb-4 text-amber-300 ">Información </h3>
        <p class="my-3 ">Nombre: <span class="font-bold">{{userInfo.firstName}} </span></p>
        <p class="my-3 ">Apellido: <span class="font-bold">{{userInfo.lastName}}</span></p>
        <p class="my-3 ">Edad: <span class="font-bold">{{userInfo.age}}</span></p>
        <p class="my-3 ">Pais: <span class="font-bold">{{userInfo.country}} </span></p>
        <p class="my-3 ">Email: <span class="font-bold">{{userInfo.email}}</span></p>
        <p class="my-3 ">Telefono: <span class="font-bold">{{userInfo.phone}}</span></p>

      </div>
    </div>


  </div>
  <div class="col bg-neutral-200 pb-5  ">

    <div class="bg-neutral-100 shadow m-5 p-5 rounded-md">
      <h3 class="text-2xl mb-5 font-bold text-2xl"> Opciones
        <hr class="text-orange-600 mt-1 ">
      </h3>
      <div class="d-flex mt-2 gap-3 justify-content-center ">
        <button class="btn shadow-lg btn-primary h-24 w-64" routerLink="/user/register/pet">Agregar Mascota</button>
        <button class="btn shadow-lg btn-success h-24 w-64 "routerLink="/user/register/cite">Crear Citas</button>
      </div>
    </div>


    <div class="row">

      <div   *ngIf="petInfo ; else alert"  class="col bg-neutral-100 shadow mx-5 p-5 rounded-md">

        <h3 class="mb-5 font-bold text-2xl">Mis Mascotas <span class="font-bold text-sky-600">({{petInfo.length}})</span>
          <hr class="text-blue-600 mt-1 ">
        </h3>

        <div  class="row d-flex justify-content-center  align-items-center gap-3  ">

          <div *ngFor="let pet of petInfo ; let isEven = even " class="card shadow-lg " style="width: 18rem;">
            <div class="card-body ">
              <h5 [ngClass]="isEven ?'text-sky-600' : 'text-amber-600' "  class="text-xl font-bold   ">{{pet.nombre_mascota | titlecase}}</h5>
              <p class="my-1"><span>Edad: {{pet.edad}}</span></p>
              <h5 class="my-1">Especie : {{pet.especie}}</h5>
              <h5 class="my-1">Peso : {{pet.peso}} Kg</h5>
              <h5 class="my-1">Color : {{pet.color}} </h5>
              <h5 class="my-1">Genero : {{pet.genero}}</h5>

            </div>
          </div>


        </div>





      </div>

      <div class="col bg-neutral-100 shadow mx-5 p-5 rounded-md">
        <h3 class="mb-5 text-2xl font-bold text-2xl">Mis Citas <span class="font-bold text-amber-600"> ({{citesInfo?.length}}) </span>
          <hr class="text-orange-600 mt-1 ">
        </h3>


        <div class="row d-flex justify-content-center  align-items-center gap-3  ">

          <div  *ngFor="let cite of citesInfo" class="card shadow-lg" style="width: 18rem;">
            <div class="card-body ">
              <h5 class="text-xl font-bold text-amber-600 ">{{cite.servicio}}</h5>
              <p class="card-text my-2"><span>Dia: <span>{{cite.fecha | date}}</span></span></p>
              <p class="card-text my-2"><span>Mascota: <span>{{cite.mascota.nombre_mascota}}</span> </span></p>

              <button (click)="deleteCite(cite.id)" class="btn shadow-lg btn-danger my-1">Cancelar</button>
            </div>
          </div>





        </div>



      </div>

    </div>









  </div>



</div>
