<section class=" my-5  ">
  <div class="container-lg">
    <div class="row  h-50 border-2 p-5 rounded">

      <div class="col-sm-6 text-black">

        <div class="px-5 ">
          <span
            class="before:block before:absolute before:-inset-1  before:-skew-y-3 before:bg-red-500   relative inline-block">
            <span class="relative text-white text-5xl "> Login </span>
          </span>

        </div>

            <login-form (userEmiter)="captureUserEmiter($event)" ></login-form>


    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
    <p>Don't have an account? <a routerLink="/user/register" class="link-info">Register here</a></p>
      </div>


      <div class="col-sm-6 px-0 d-none d-sm-block ">
        <img src="https://images.pexels.com/photos/1741205/pexels-photo-1741205.jpeg" alt="Login image"
          style="object-fit: cover; object-position: top;">
      </div>



    </div>
  </div>
</section>
